// Buttons
.button {
  font-family: Apercu;
  font-size: $font-size-m;
  cursor: pointer;
  padding: 0.75rem 1rem;
  display: inline-flex;
  vertical-align: middle;
  &--blog {
    background-color: $mine-shaft;
    color: $white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @include hover($tradewind);
  }

  &--load {
    border: 2px solid $mine-shaft;
    color: $mine-shaft;
    &:active {
      .button__icon {
        animation: spin 1s infinite linear;
      }
    }
    &:hover,
    :focus {
      .button__icon {
        animation: spin 1s 1 linear;
      }
    }
  }

  &--sign {
    background-color: $east-bay;
    color: $white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @include hover($wild-sand);
  }

  &--disabled,
  &:disabled {
    pointer-events: none;
    background-color: $silver-chalice;
    cursor: not-allowed;
  }

  &__icon {
    display: flex;
    align-items: flex-end;
    font-size: 1.6rem;
    margin: 0 0 0 0.5rem;
  }
}
