.input {
  border: 1px solid $silver-chalice;
  border-radius: 1px;
  font-family: Greycliff-Medium;
  font-size: $font-size-s;
  color: $silver-chalice;
  outline-color: $mine-shaft;
  outline-width: 2px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  transition: border ease-in-out;
  width: 100%;

  @include tablet {
    font-size: $font-size-m;
  }

  &:focus,
  :active {
    outline-style: solid;
  }

  &--email {
    margin-bottom: 1.5rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }
}

.input__text-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.input__text__button-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    align-items: flex-end;
  }
}
