html {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline-color: $mine-shaft;
  outline-width: 2px;
  &:focus,
  :active {
    outline-style: solid;
  }
}
