<section id="buttons">
  <div class="grid-container">
    <div class="grid-container__row">
      <div class="grid-container__col grid-container__col--12">
        <h2 class="title">Buttons</h2>
        <h5 class="section__subtitle">Main button style - with icon</h5>
        <h6 class="section__modifier">Normal / Active</h6>
        <a class="button button--blog" href="#">
          Read more
          <i class="icon-read button__icon"></i>
        </a>
        <p class="body">Hover to see active state!</p>
        <h6 class="section__modifier">Disabled</h6>
        <a class="button button--disabled button--blog" disabled href="#">
          Read more
          <i class="icon-read button__icon"></i>
        </a>
        <h5 class="section__subtitle">Load more button</h5>
        <h6 class="section__modifier">Normal / Active</h6>
        <a class="button button--load" href="#">
          Load more
          <i class="icon-loading button__icon"></i>
        </a>
        <p class="body">Hover to see active state!</p>
        <h6 class="section__modifier">Disabled</h6>
        <a class="button button--load button--disabled" href="#">
          Load more
          <i class="icon-loading button__icon"></i>
        </a>
        <h5 class="section__subtitle">Sign up button</h5>
        <h6 class="section__modifier">Normal / Active</h6>
        <button class="button button--sign" href="#">
          Sign up
          <i class="icon-ok button__icon"></i>
        </button>
        <p class="body">Hover to see active state!</p>
        <h6 class="section__modifier">Disabled</h6>
        <button class="button button--sign" disabled href="#">
          Sign up
          <i class="icon-ok button__icon"></i>
        </button>
        <h3 class="section__title">Links</h3>
        <h5 class="section__subtitle">Underline links</h5>
        <h6 class="section__modifier">Normal</h6>
        <a class="link link--underline" href="#">
          Read more
          <i class="icon-read button__icon"></i>
        </a>
        <a class="link link--underline" href="#">
          Read more
        </a>
        <h6 class="section__modifier">Alt</h6>
        <a class="link link--underline--alt" href="#">
          Read more
          <i class="icon-read button__icon"></i>
        </a>
        <a class="link link--underline--alt" href="#">
          Read more
        </a>
        <h3 class="section__title">Indent</h3>
        <div class="indent">
          <a class="link link--underline--alt" href="#">
            Read more
            <i class="icon-read button__icon"></i>
          </a>
          <p class="body body--alt m-t-16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <h3 class="section__title">Menu link</h3>
        <a href="contact" class="link link--menu"
          >Contact <span class="link--menu__hand">👋</span></a
        >
      </div>
      <hr />
    </div>
  </div>
</section>
