<section id="cards">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h2 class="title">Cards</h2>
        <h3 class="section__title">Quotes</h3>
      </div>
      <div class="grid-col grid-col--6">
        <h6 class="section__modifier">Greycliff-Bold</h6>
        <div class="card">
          <p class="card__quote">
            "I trust Ayup. They deliver high quality work, charge fair prices,
            and treat you as a partner rather than a client."
          </p>
          <div class="card__content">
            <div>
              <p class="body card__name">Victoria Betton</p>
              <p class="card__text body body--s">Managing Director,</p>
              <p class="card__text body body--s">mHabitat</p>
            </div>
            <img
              class="card__img"
              src="/assets/img/people/victoria-mhabitat.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="grid-col grid-col--6">
        <h6 class="section__modifier">HK-Serif</h6>
        <div class="card">
          <p class="card__quote--alt">
            "We needed a tech partner who could build trust with vulnerable
            people. Ayup have been great. It's been such a positive experience
            that we asked them to present with us at LocalGov Camp and to LB
            Hackney."
          </p>
          <div class="card__content">
            <div>
              <p class="body card__name">Chris Jones</p>
              <p class="card__text body body--s">Commissioning Lead,</p>
              <p class="card__text body body--s">
                Royal Borough of Kingston
              </p>
            </div>
            <img
              class="card__img"
              src="/assets/img/people/chris-ck.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Feature Blogs</h3>
      </div>
      <div class="grid-col grid-col--6">
        <div class="feature-blog feature-blog--alt">
          <p class="feature-blog__time">1 minute read</p>
          <h4 class="feature-blog__title">Blog post title</h4>
          <p class="feature-blog__topic">Topic line</p>
          <p class="feature-blog__excerpt">
            Last month we shared the exciting news that we were appointed
            digital partner for Kingston Council's new social…
          </p>
          <div class="feature-blog__bottom">
            <a class="link link--underline" href="#">
              Read more
              <i class="icon-read button__icon"></i>
            </a>
            <img src="/assets/img/people/mike.png" alt="" />
          </div>
        </div>
      </div>
      <div class="grid-col grid-col--6">
        <div class="feature-blog">
          <p class="feature-blog__time">1 minute read</p>
          <h4 class="feature-blog__title">
            How we engaged over 40 stakeholders in co-design
          </h4>
          <p class="feature-blog__topic">Royal Borough of kingston</p>
          <div class="feature-blog__bottom">
            <a class="link link--underline" href="#">
              Read more
              <i class="icon-read button__icon"></i>
            </a>
            <img src="/assets/img/people/ste.png" alt="" />
          </div>
        </div>
      </div>
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Secondary Blogs</h3>
      </div>
      <div class="grid-col grid-col--12">
        <div class="secondary-blog">
          <div class="secondary-blog__content">
            <img
              class="secondary-blog__img"
              src="/assets/img/people/mike.png"
              alt="Mike Photo"
            />
            <div>
              <p class="secondary-blog__time">1 minute read</p>
              <h4 class="secondary-blog__title">
                How we engaged over 40 stakeholders in co-design for the
                development of a Social Prescribing digital platform
              </h4>
            </div>
          </div>
          <a class="link link--underline" href="#">
            Read more
          </a>
        </div>
      </div>
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Email sign up</h3>
        <h4 class="section__subtitle">Home page</h4>
      </div>
      <div class="grid-col grid-col--12">
        <div class="email-sign-up">
          <div class="email-sign-up__content">
            <div class="email-sign-up__text-wrapper">
              <h4 class="email-sign-up__title">Want to hear more from us?</h4>
              <p class="email-sign-up__text">
                You can keep up-to date with blogs and developments by letting
                us know you details below.
              </p>
            </div>
            <img
              class="email-sign-up__img"
              src="/assets/img/characters/characters-shapes.png"
              alt=""
            />
          </div>
          <form class="email-sign-up__form" action="post">
            <div class="email-sign-up__input-wrapper input__text-wrapper">
              <label class="label m-b-8 m-l-8" for="">Name</label>
              <input
                class="email-sign-up__input input"
                type="text"
                placeholder="Type here"
              />
            </div>
            <div class="email-sign-up__input-wrapper input__text-wrapper">
              <label class="label m-b-8 m-l-8" for="">Email address</label>
              <div class="email-sign-up__input input__text__button-wrapper">
                <input
                  class="email-sign-up__input input input--email"
                  type="text"
                  placeholder="Type here"
                />
                <a class="button button--sign" href="#">
                  Sign up
                  <i class="icon-ok button__icon"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Email sign up</h3>
        <h4 class="section__subtitle">Blog page</h4>
      </div>
      <div class="grid-col grid-col--12">
        <div class="email-sign-up__outer">
          <div class="email-sign-up">
            <div class="email-sign-up__content">
              <div class="email-sign-up__text-wrapper">
                <h4 class="email-sign-up__title">Get a mystery free gift</h4>
                <p class="email-sign-up__text">
                  Something special is on the way next Spring. It could be a new
                  guide, a Tech for Good ebook, or maybe a unique whitepaper.
                  Sign up and you’ll be first to recieve it.
                </p>
              </div>
              <img
                class="email-sign-up__img"
                src="/assets/img/characters/characters-shapes.png"
                alt=""
              />
            </div>
            <form class="email-sign-up__form" action="post">
              <div class="email-sign-up__input-wrapper input__text-wrapper">
                <label class="label m-b-8 m-l-8" for="">Name</label>
                <input
                  class="email-sign-up__input input"
                  type="text"
                  placeholder="Type here"
                />
              </div>
              <div class="email-sign-up__input-wrapper input__text-wrapper">
                <label class="label m-b-8 m-l-8" for="">Email address</label>
                <div class="email-sign-up__input input__text__button-wrapper">
                  <input
                    class="email-sign-up__input input input--email"
                    type="text"
                    placeholder="Type here"
                  />
                  <a class="button button--sign" href="#">
                    Sign up
                    <i class="icon-ok button__icon"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
