<section id="forms">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h2 class="title">Forms</h2>
        <h4 class="section__subtitle">
          Input
        </h4>
        <h5 class="section__modifier">Input with title</h5>
        <form action="post">
          <div class="input__text-wrapper">
            <label class="label m-b-8 m-l-8" for="">Name</label>
            <input class="input" type="text" placeholder="Type here" />
          </div>
          <br />
          <p class="body">Click in me to see my active state!</p>
          <h5 class="section__modifier">Input with button</h5>
          <div class="input__text-wrapper">
            <label class="label m-b-8 m-l-8" for="">Email address</label>
            <div class="input__text__button-wrapper">
              <input
                class="input input--email"
                type="text"
                placeholder="Type here"
              />
              <a class="button button--sign" href="#">
                Sign up
                <i class="icon-ok button__icon"></i>
              </a>
            </div>
          </div>
          <br />
          <p class="body">Click in me to see my active state!</p>
        </form>
      </div>
      <hr />
    </div>
  </div>
</section>
