<section id="headerAndFooter">
  <div class="grid-container">
    <div class="grid-container__row">
      <div class="grid-container__col grid-container__col--12">
        <h2 class="title">Header & footer</h2>
        <h3 class="section__title">Header</h3>
      </div>
    </div>
  </div>
  <header class="header grid-container--fluid">
    <div class="grid-container">
      <div class="grid-container__row">
        <div class="header__content grid-container__col grid-container__col--4">
          <p class="header__title">Call us</p>
          <a href="#" class="header__contact">0113 859 1020</a>
        </div>
        <div class="grid-container__col grid-container__col--4">
          <div class="header__img">
            <img
              src="/assets/img/characters/character-marathon.png"
              alt="Ayup Character Marathon"
            />
          </div>
        </div>
        <div
          class="header__content header__content--bottom grid-container__col grid-container__col--4"
        >
          <p class="header__title">Email us</p>
          <a href="#" class="header__contact">info@ayup.agency</a>
        </div>
      </div>
    </div>
  </header>
  <div class="grid-container">
    <h3 class="section__title">Footer</h3>
  </div>
  <footer class="footer grid-container--fluid">
    <div class="grid-container">
      <div>
        <h2 class="footer__heading">Talk to us.</h2>
        <p class="footer__description">
          We want to help you solve the world’s problems. <br />
          Get in touch.
        </p>
      </div>
      <div class="footer__content-wrapper">
        <div class="footer__content-inner-wrapper">
          <div class="footer__content">
            <p class="footer__title">Call us</p>
            <a href="#" class="footer__contact footer__contact--push">
              0113 859 1020
            </a>
            <p class="footer__title footer__title--address">Address</p>
            <p class="footer__contact">30-34 Aire Street,</p>
            <p class="footer__contact">Leeds, LS1 4HT</p>
            <a class="footer__link link link--white link--underline" href="/"
              >View on map</a
            >
          </div>
          <div class="footer__content">
            <p class="footer__title">Email us</p>
            <a href="#" class="footer__contact footer__contact--push">
              info@ayup.agency
            </a>
            <a
              class="footer__link--icon"
              href="https://twitter.com/AyupDigital"
            >
              <i class="footer__icon icon-twitter"></i>
            </a>
            <a
              class="footer__link--icon"
              href="https://www.linkedin.com/company/ayup-digital/"
            >
              <i class="footer__icon icon-linkedin-squared"></i>
            </a>
          </div>
        </div>
        <img
          class="footer__img"
          src="/assets/img/characters/characters-bonus-brew.png"
          alt=""
        />
      </div>
      <div class="footer__bottom">
        <img
          class="footer__bottom-img"
          src="/assets/img/logos/certs/cyber-essentials.png"
        />
        <img class="footer__bottom-img" src="/assets/img/logos/certs/aws.png" />
        <img
          class="footer__bottom-img"
          src="/assets/img/logos/certs/livingwagef.png"
        />
        <p class="footer__contact">©Ayup Digital 2019</p>
      </div>
    </div>
  </footer>
</section>
