<header class="page-header">
  <div class="grid-container">
    <div class="grid-container__row">
      <div class="grid-container__colgrid-container__col--12">
        <a href="https://ayup.agency">
          <h1 class="page-title">Ayup component library</h1>
        </a>
        <nav>
          <ul>
            <li class="nav__item">
              <a class="link link--underline" href="#typography">Typography</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#colours">Colours</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#iconsAndImagery">
                Icons & Imagery</a
              >
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#layout">Layout</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#buttons">Buttons</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#forms">Forms</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#cards">Cards</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#headerAndFooter"
                >Header & footer</a
              >
            </li>
            <li class="nav__item">
              <a class="link link--underline--alt" href="#home"
                >Back to top ☝</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
