<section id="iconsAndImagery">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h2 class="title">Icons & Imagery</h2>
      </div>
      <div class="grid-col grid-col--12">
        <h3 class="section__title">
          Logos
        </h3>
        <h4 class="section__subtitle">
          Ayup
        </h4>
        <div class="icons">
          <img src="/assets/img/logos/ayup-logo.svg" alt="Ayup logo" />
          <img
            class="contrast-bg"
            src="/assets/img/logos/ayup-logo-white.svg"
            alt="Ayup logo"
          />
        </div>
        <h4 class="section__subtitle">
          Client logos
        </h4>
        <div class="icons">
          <img class="fix" src="/assets/img/logos/client/cast.png" />
          <img class="fix" src="/assets/img/logos/client/comic-relief.png" />
          <img class="fix" src="/assets/img/logos/client/lcc.png" />
          <img class="fix" src="/assets/img/logos/client/mesmac.png" />
          <img class="fix" src="/assets/img/logos/client/mhabitat.png" />
          <img class="fix" src="/assets/img/logos/client/mind.png" />
          <img class="fix" src="/assets/img/logos/client/nhs.png" />
          <img class="fix" src="/assets/img/logos/client/nottingham.png" />
        </div>
        <h4 class="section__subtitle">
          Certification logos
        </h4>
        <div class="icons">
          <img class="fix" src="/assets/img/logos/certs/aws.png" />
          <img class="fix" src="/assets/img/logos/certs/cyber-essentials.png" />
          <img class="fix" src="/assets/img/logos/certs/livingwagef.png" />
        </div>
        <h3 class="section__title">
          Icons
        </h3>
        <h4 class="section__subtitle">
          Fontello
        </h4>
        <div class="icons">
          <i class="icon-loading"></i>
          <i class="icon-read"></i>
          <i class="icon-view"></i>
          <i class="icon-values"></i>
          <i class="icon-blog-open"></i>
          <i class="icon-blog"></i>
          <i class="icon-ok"></i>
          <i class="icon-link"></i>
          <i class="icon-mail"></i>
          <i class="icon-github-circled"></i>
          <i class="icon-trello"></i>
          <i class="icon-twitter"></i>
          <i class="icon-linkedin-squared"></i>
        </div>
        <h4 class="section__subtitle">
          Bullets
        </h4>
        <div class="icons">
          <img src="/assets/img/bullets/Circle.svg" alt="" />
          <img src="/assets/img/bullets/Rectangle.svg" alt="" />
          <img src="/assets/img/bullets/Semicircle.svg" alt="" />
          <img src="/assets/img/bullets/Square.svg" alt="" />
          <img src="/assets/img/bullets/Triangle.svg" alt="" />
        </div>
        <h3 class="section__title">
          Round Faces
        </h3>
        <h4 class="section__subtitle">
          Quotes
        </h4>
        <div class="icons">
          <img src="/assets/img/people/chris-ck.png" alt="" />
          <img src="/assets/img/people/emma-eccoo.png" alt="" />
          <img src="/assets/img/people/sam-sparrow.png" alt="" />
          <img src="/assets/img/people/victoria-mhabitat.png" alt="" />
        </div>
        <h4 class="section__subtitle">
          Blog post
        </h4>
        <div class="icons">
          <img src="/assets/img/people/mike.png" alt="" />
          <img src="/assets/img/people/ste.png" alt="" />
        </div>
        <h3 class="section__title">
          Characters
        </h3>
        <div class="icons">
          <img src="/assets/img/characters/character-one.png" alt="" />
          <img src="/assets/img/characters/character-two.png" alt="" />
          <img src="/assets/img/characters/character-three.png" alt="" />
          <img src="/assets/img/characters/character-four.png" alt="" />
          <img src="/assets/img/characters/character-marathon.png" alt="" />
          <img src="/assets/img/characters/character-seesaw.png" alt="" />
          <img src="/assets/img/characters/characters-bonus-brew.png" alt="" />
          <img src="/assets/img/characters/characters-shapes.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
