<section id="layout">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h2 class="title">Layout</h2>
      </div>
    </div>
  </div>
  <div class="contrast-bg grid-container grid-container--fluid">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col grid-col--12">
          <div class="content">
            <p class="body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              molestiae facere a laborum? Veritatis, ipsa non praesentium
              doloremque suscipit consectetur distinctio commodi, nobis libero
              enim expedita, aut quia consequuntur. Assumenda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
