<section id="typography">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--12"><h2 class="title">Typography</h2></div>
      <!--Headings-->
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Headings</h3>
        <h5 class="section__subtitle">XL heading</h5>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <h5 class="section__subtitle">L heading</h5>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <h5 class="section__subtitle">M heading</h5>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <h5 class="section__subtitle">S heading</h5>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <hr />
      <!--Body-->
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Body</h3>
        <h5 class="section__subtitle">Medium body</h5>
        <h6 class="section__modifier">Light</h6>
        <p class="body--light body--light--m">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h6 class="section__modifier">Regular</h6>
        <p class="body body--m">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h5 class="section__subtitle">Small body</h5>
        <h6 class="section__modifier">Light</h6>
        <p class="body--light body--light--s">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h6 class="section__modifier">Regular</h6>
        <p class="body body--s">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h5 class="section__subtitle">Alt body</h5>
        <p class="body--alt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h5 class="section__subtitle">Section title</h5>
        <p class="body--section">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h5 class="section__subtitle">Caption</h5>
        <p class="body--caption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <!--Lists-->
      <div class="grid-col grid-col--3">
        <h3 class="section__title">Lists</h3>
        <ul>
          <li>
            <p class="body">List</p>
          </li>
          <li>
            <p class="body">List</p>
          </li>
          <li><p class="body">List</p></li>
          <li>
            <p class="body">List</p>
          </li>
          <li>
            <p class="body">List</p>
          </li>
        </ul>
      </div>
      <!--Code-->
      <div class="grid-col grid-col--12">
        <h3 class="section__title">Code Snippets</h3>
        <div class="grid-row">
          <div class="grid-col grid-col--12">
            <h5 class="section__subtitle">Code Medium</h5>
            <code class="code code--m">block__element</code>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-col grid-col--12">
            <h5 class="section__subtitle">Code Small</h5>
            <code class="code code--s">console.log('Ayup');</code>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
